h1 {
    font-family: 'Righteous', fantasy, serif;
    color: #BEE7E8;
}

body {
    background-color: #1C1C1C;
}

h2 {
    font-family: 'Righteous', fantasy, serif;
    color: #A0D2DB;
}

h3 {
    font-family: 'Righteous', fantasy, serif;
    color: #a0d2db;
}

a[href] {
    font-family: 'Orbitron', sans-serif;
    color: #a0d2db;
}

p {
    font-family: 'Orbitron', sans-serif;
    color: #7d8cc4;
}

li {
    color: #f6ae2d;
}

li > span {
    color: #a0d2db;
}

.nav {
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    margin: 10px 0;
    border-top: 1px solid #f6ae2d;
    border-bottom: 1px solid #f6ae2d;
    padding: 5px 0;
    justify-items: center;
}

.home-content {
    display: grid;
    grid-template-columns: 100%;
    width: 80%;
    justify-items: center;
    padding-left: 10%;
}
